@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-grotesk: "SchibstedGrotesk", sans-serif;
  --font-space-grotesk: "SpaceGrotesk";
  --font-aldrich: "Aldrich", sans-serif;
  --text-nav: [#62646A];
}

body {
  font-family: var(--font-poppins);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.radial-bg {
  background-color: hsla(0, 0%, 0%, 0);
  background-image: radial-gradient(
      at 0% 100%,
      hsla(242, 100%, 70%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 0) 0px, transparent 50%);
}
